<!--The content below is only a placeholder and can be replaced.-->
 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>

  <div class = "sect sectOne" >
    <nav class="navbar navbar-default">
        <!-- <div class="container-fluid"> -->
            <!-- <a class="navbar-brand"></a> -->
            <ul class="nav navbar-nav">
                <li routerLinkActive="active current"><a routerLink="/home">HOME</a></li>
                <li routerLinkActive="active current"><a routerLink="/about-me">ABOUT ME</a></li>
                <li routerLinkActive="active current"><a routerLink="/skills">SKILLS</a></li>
                <li routerLinkActive="active current"><a routerLink="/contact">CONTACT</a></li>
            </ul>
          <!-- </div> -->
          <router-outlet></router-outlet>
    </nav>
    </div>


    <!-- <div style="text-align:center">
        <h2>
          {{title}}
        </h2> 
      </div>
      <nav>
        <a routerLink = "/home">HOME  </a>
        <a routerLink = "/about-me">ABOUT ME  </a>
        <a routerLink = "/skills">SKILLS  </a>
        <a routerLink = "/contact">CONTACT </a>
      </nav>
      <router-outlet></router-outlet>
      <div class = "sect sectOne rain" ></div>
  
        <div class = "subSection"></div>
          <div class = "sect sectTwo"></div>
          <div class = "subSection"></div>
          <div class = "sect sectThree"></div>
          <div class = "subSection"></div> -->
  
</body>
</html>
  
  




